nav {
  color: #3b3029 !important;
  background-color: #fefbf8 !important;
}
.navbar__title--logo {
  font-size: 38px;
}

.navbar__title--nom {
  font-size: 18px;
}

.navbar-nav {
  font-size: 20px;
}
.nav-link:hover,
.nav-link.active {
  color: #557768 !important;
}
